<div layout="column" layout-fill>
    <mat-toolbar>
        <span class="truncate">Data migration</span>
        <span flex></span>
    </mat-toolbar>
    <div class="mat-content">
        <mat-card>

            <mat-card-content>
                <!--Office Services -->
                <!--office Migration ui-->
                <fims-office-datamigration></fims-office-datamigration>
                <!--Branch Migration ui-->
                <fims-branchOffice-datamigration></fims-branchOffice-datamigration>
                <!--employee Migration ui-->
                <fims-employee-datamigration></fims-employee-datamigration>
                

                <!--Customer Services-->
                <!--customers Migration ui-->
                <fims-customers-datamigration></fims-customers-datamigration>

               <!--Accounting Services-->
                <!--Ledgers Migration ui-->
                <fims-ledgers-datamigration></fims-ledgers-datamigration>
                <!--SubLedgers Migration ui-->
                <fims-subledgers-datamigration></fims-subledgers-datamigration>
                <!-- Ledger Account Migration ui-->
                <fims-account-datamigration></fims-account-datamigration>
                <fims-journal-migration></fims-journal-migration>
                
                <!--Group Services-->
                <!--Group Migration ui-->
                <fims-group-datamigration></fims-group-datamigration>
                <!--Group Definition Migration ui-->
                <fims-group-definition-migration></fims-group-definition-migration>

                <!--Teller Migration ui-->
                <fims-teller-datamigration></fims-teller-datamigration>

                <!--Product  Migration ui-->
                <fims-product-datamigration></fims-product-datamigration>

            
                <!--Deposit Account Services-->
                <!--product Definition-->
                <fims-product-definition-migration></fims-product-definition-migration>
                <!--product Instance-->
                <fims-product-instance-migration></fims-product-instance-migration>
                 <!--Deposit Action-->
                <fims-action-migration></fims-action-migration>

                <!--Identity Services-->
                <!--user Migration ui-->
                <fims-user-datamigration></fims-user-datamigration>

                <!--Prosioner-->
                
                <fims-tenant-migration></fims-tenant-migration>

            </mat-card-content>
        </mat-card>
    </div>
</div>